
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bulma
@import "~bulma";

body {
	background: #fafafa;
}

.column {
	height: 90vh;
}

.map {
	height: 100%;
}