/*********DELETE******/

/********************/
html {
	background-color: #fff;
}

header {
	border-bottom: 2px solid lightgrey;
	margin: 5px;
}

.map {
	width: 100%;
	height: 100%;
}

.main-container {
	height: 85vh;
	position: relative;
}

.nav-item {
	font-size: 1.3em;
}

.button {
	width: 100%;
	margin-bottom: 2px;
}

.footer {
	padding-bottom: 20px;
	padding-top: 10px;
}